@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homePage{
  font-family: 'Indie Flower', cursive;  
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('https://compai.pub/v1/png/096270fda2f6917a288700bc0cbfe672414b6292d417700bc4aea1a37c82089e');
  background-repeat: no-repeat;
  
  
}
.homePageOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homePageOptions > a > h1 {
  padding: 1em 0;
  width: 4em;
  background-color: cornsilk;
  height: 4em;
  text-align: center;
  align-self: center;
  background: url('https://findicons.com/files/icons/2770/ios_7_icons/512/speech_bubble.png');
  background-size: 4em;
  background-repeat: no-repeat;
  background-position: center;
}

.homePageOptions>h1:hover{
  transform: scale(1.2) ;
  color: rgb(252, 138, 63);
  transition: all ease-in .07s;
}

.topics{
  display: flex;
  align-items: center;
  justify-content: center;
}

.topicsRow-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topicsRow-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}

.topicsRow-1 > a:hover{
  transform: scale(1.02);
  transition: ease-in-out all .2s;
}
.topicsRow-2 > a:hover{
  transform: scale(1.02);
  transition: ease-in-out all .2s;
}

.topicsRow-1 > a{
  text-align: center;
  text-decoration: none;
  color: black;
 font-family: 'Amatic SC', cursive;
}
.topicsRow-2 > a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
}

