body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homePage{
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('https://i.imgur.com/XOZdmys.png');
  background-repeat: no-repeat;
  
  
}

.homePageOptions > h1 {
  margin: 1em 0 
}

.homePageOptions>h1:hover{
  transform: scale(1.2) ;
  color: cornflowerblue;
  transition: all ease-in .07s;
}